<style>
    .agenda-ajout-box-conteneur {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
    }
    .agenda-ajout-box-img {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 4em;
        max-width: 4em;
    }
    .q-tree__node--selected .q-tree__node-header-content > div {
      color: var(--q-primary) !important;
    }
</style>
<div id="TOTORO" stylee="height: 600px;width: 600px;">
</div>
