<style>
    .sticky-header-table {
        height: 50vh;
    }
    .documentlien {
        font-weight: bold;
        font-size: larger;
    }
    .tooltipwrapper {
        display: inline;
    }
    #TOTORO .q-table tbody td img {
        max-height: 2rem;
        max-width: 2rem;
    }
    .buttonNoSelected {
        color: black !important;
    }
    #TOTORO > .row {
        margin: 0.5em;
    }
    .env-box-img {
        /*max-width: 5em;
        max-height: 5em;*/
    }
    .equ-box > .q-img > div:first-of-type {
        padding-bottom: 5em !important;
    }
    .equ-box > .q-img > div:first-of-type {
        padding-bottom: 5em !important;
    }
    .equ-box {
        text-align: center;
        padding-top: 1em;
        height: 12em !important;
    }
    .mainblock {
        height: 27em !important;
        padding: 1em;
    }
    .mainblock >  .my-card {
        height: 100%;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div id='TOTORO' class="full-width">
</div>
